@charset "UTF-8";


body {
    margin: 0;
    align-items: center;
    background-image: url('https://github.com/gustavoguanabara/html-css/blob/master/desafios/modulo-02/d011/imagens/espaco.jpg?raw=true');

    background-repeat: no-repeat;
    /*background-size: cover;*/
    position: relative;
    height: 80vh;
    background-size: 100% 100%;
}

img {
    padding: 10px;
    margin: auto;
    background-position: cover;
    border: 10px solid yellow;
}