@charset "UTF-8";


body {
    margin: 0;
}

.fundo {
    background-image: url(https://github.com/gustavoguanabara/html-css/blob/master/desafios/modulo-02/d011/imagens/espaco.jpg?raw=true);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 84em;
    height: 37.6em;
}

.naofundo {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
}